[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchaudio = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
click = "*"
librosa = "*"
soundfile = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
train = "python index.py --train"
retrain = "python index.py --train --generate"